---
- name: setup service files
  ansible.builtin.copy:
    src: "{{ item }}.service"
    dest: "/etc/systemd/system/{{ item }}.service"
    mode: "0644"
  notify: "{{ item }}-restart"
  loop:
    - pihole
    - home-assistant
