---
- name: setup service files
  ansible.builtin.copy:
    src: "{{ item }}.service"
    dest: "/etc/systemd/system/{{ item }}.service"
    mode: "0644"
  notify: "{{ item }}-restart"
  loop:
    - pihole
    - home-assistant

- name: ensure services are running and enabled
  ansible.builtin.systemd_service:
    name: "{{ item }}"
    state: started
    enabled: yes
    daemon_reload: yes
  loop:
    - pihole
    - home-assistant

- name: pull latest docker images
  community.docker.docker_image:
    name: "{{ item.image }}"
    source: pull
    state: present
  loop:
    - { service: pihole, image: pihole/pihole:latest }
    - { service: home-assistant, image: ghcr.io/home-assistant/home-assistant:stable }
  notify: "{{ item.service }}-restart"
