- name: setup service files
  ansible.builtin.copy:
    src: "{{ item }}.service"
    dest: "/etc/systemd/system/{{ item }}.service"
    mode: "0644"
  nofity: "{{ item }}-restart"
  loop:
    - pihole
    - home-assistant

- name: ensure services are running and enabled
  ansible.builtin.systemd_service:
    name: "{{ item }}"
    state: started
    enabled: yes
    daemon_reload: yes
  loop:
    - pihole
    - home-assistant
