---
- name: setup service files
  ansible.builtin.copy:
    src: "{{ item }}.service"
    dest: "/etc/systemd/system/{{ item }}.service"
    mode: "0644"
  notify: "{{ item }}-restart"
  loop:
    - pihole
    - home-assistant

- name: pull latest docker images
  community.docker.docker_image:
    name: "{{ item.image }}"
    tag: "{{ item.tag }}"
    source: pull
    state: present
    force_source: true
  loop:
    - { service: pihole, image: pihole/pihole, tag: latest }
    - { service: home-assistant, image: ghcr.io/home-assistant/home-assistant, tag: stable }
  notify: "{{ item.service }}-restart"
