---
- name: setup service files
  ansible.builtin.copy:
    src: "{{ item }}.service"
    dest: "/etc/systemd/system/{{ item }}.service"
    mode: "0644"
  notify: "{{ item }}-restart"
  loop:
    - pihole
    - home-assistant

- name: ensure services are running and enabled
  ansible.builtin.systemd_service:
    name: "{{ item }}"
    state: started
    enabled: true
    daemon_reload: true
  loop:
    - pihole
    - home-assistant

- name: pull latest docker images
  community.docker.docker_image:
    name: "{{ item.image }}"
    tag: "{{ item.tag }}"
    source: pull
    state: present
    force_source: true
  loop:
    - { service: pihole, image: pihole/pihole, tag: latest }
    - { service: home-assistant, image: ghcr.io/home-assistant/home-assistant, tag: stable }
  register: docker_pull_results

- name: restart systemd services if new images
  meta: noop
  loop: "{{ docker_pull_results.results }}"
  when: item.changed
  changed_when: true
  notify: "{{ item.item.service }}-restart"
