Host *
  User tony
Host home.tonyebel.com
  User tony

{%- if inventory_hostname != "tonypi" %}
Host tonypi
  Hostname 192.168.1.83
{% endif %}

{%- if inventory_hostname != "tbeelink" %}
Host tbeelink
  HostName 192.168.1.163
{% endif %}

{%- if inventory_hostname != "tcachy" %}
Host tcachy
  HostName 192.168.1.80
{% endif %}

{%- if inventory_hostname != "chadpi" %}
Host chadpi
{% if inventory_hostname != "tbeelink" %}
  ProxyJump tbeelink
{% endif %}
  HostName 127.0.0.1
  Port 9005
{% endif %}

{%- if inventory_hostname != "probook" %}
Host probook
{% if inventory_hostname != "tbeelink" %}
  ProxyJump tbeelink
{% endif %}
  HostName 127.0.0.1
  Port 9010
{% endif %}
