---
- name: immich docker-compose
  ansible.builtin.copy:
    src: docker-compose.yml
    dest: /etc/immich/docker-compose.yml
    mode: "0644"
  notify: immich-restart

- name: immich systemd service file
  ansible.builtin.copy:
    src: immich.service
    dest: /etc/systemd/system/immich.service
    mode: "0644"
  notify: immich-restart

- name: immich borg-backup script
  ansible.builtin.copy:
    src: borg-backup.sh
    dest: /etc/immich/borg-backup.sh
    mode: "0744"

- name: immich borg service files
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/etc/systemd/system/{{ item }}"
    mode: "0644"
  loop:
    - borg-backup.service
    - borg-backup.timer
  notify: borg-backup-restart
