---
- name: immich docker-compose
  ansible.builtin.copy:
    src: docker-compose.yml
    dest: /etc/immich/docker-compose.yml
    mode: "0644"
  notify: immich-restart

- name: immich systemd service file
  ansible.builtin.copy:
    src: immich.service
    dest: /etc/systemd/system/immich.service
    mode: "0644"
  notify: immich-restart

- name: ensure borgbackup installed
  ansible.builtin.apt:
    name:
      - borgbackup
    state: present

- name: ensure backup drive mounted
  ansible.posix.mount:
    path: /mnt/immich_backup
    src: UUID=2e0f863c-5712-49eb-ba07-c88784245db7
    fstype: ext4
    opts: rw,relatime
    state: mounted

- name: immich borg-backup script
  ansible.builtin.copy:
    src: borg-backup.sh
    dest: /etc/immich/borg-backup.sh
    mode: "0744"

- name: immich borg service files
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/etc/systemd/system/{{ item }}"
    mode: "0644"
  loop:
    - borg-backup.service
    - borg-backup.timer
  notify: borg-backup-restart
