#!/bin/bash

on_die() {
  echo "$(date +'%h %d %H:%M:%S %Y'): Recieved TERM signal. Sending TERM to child [$child]"
  kill -TERM "$child"
  wait "$child"
  echo "$(date +'%h %d %H:%M:%S %Y'): Child terminated. Exiting..."
  exit 0
}

trap on_die SIGTERM

connect_host=""

set_host()
{
  nc -vz 192.168.1.163 2283
  if (( $? == 0 )); then
    connect_host="192.168.1.163"
  else
    connect_host="home.tonyebel.com"
  fi
}

while true; do
  set_host
  ssh -N -R {{ listen_port }}:localhost:22 -l tunnel $connect_host &
  child=$!

  echo "$(date +'%h %d %H:%M:%S %Y'): Starting tunnel [$child]"
  wait "$child"
  echo "$(date +'%h %d %H:%M:%S %Y'): Tunnel exited with [$?] code. Will try again in 10 seconds"
  sleep 10
done
