---
- name: Upgrade System Packages
  hosts: all
  become: true

  tasks:
    - name: Install python3-apt
      ansible.builtin.apt:
        update_cache: yes
        name: python3-apt
        state: present

    - name: Update cache and full distrubution upgrade (apt)
      ansible.builtin.apt:
        update_cache: yes
        upgrade: dist
        autoremove: yes
      when: ansible_pkg_mgr == 'apt'
