---
- name: Upgrade System Packages
  hosts: all
  become: true

  tasks:
    - name: Update cache and full distrubution upgrade (apt)
      ansible.builtin.apt:
        update_cache: true
        upgrade: dist
        autoremove: true
      when: ansible_pkg_mgr == 'apt'
