---
- name: essential programs
  ansible.builtin.package:
    name:
      - bash-completion
      - bind9-dnsutils
      - curl
      - git
      - jq
      - neofetch
      - openssl
      - speedtest-cli
      - tmux
      - vim
    state: present
  tags:
    - programs

- name: tony user
  ansible.builtin.user:
    name: tony
    create_home: true
    password: "{{ vault_tony_passwd_hash }}"
    state: present
    shell: /bin/bash

- name: tony ssh keys
  ansible.posix.authorized_key:
    user: "{{ item.user }}"
    state: present
    key: "{{ item.key }}"
  loop: "{{ ssh_keys }}"

- name: tony nopasswd
  lineinfile:
    dest: /etc/sudoers
    state: present
    regexp: "^tony"
    line: "tony    ALL = (ALL) NOPASSWD:ALL"

- name: tony ssh_config
  ansible.builtin.template:
    src: ssh_config.j2
    dest: /home/tony/.ssh/config

- name: configure sshd hardening
  lineinfile:
    path: "/etc/ssh/sshd_config"
    regex: "^(#)?{{ item.key }}"
    line: "{{ item.key }} {{ item.value }}"
    state: present
  loop:
    - { key: "PermitEmptyPasswords", value: "no" }
    - { key: "PasswordAuthentication", value: "no" }
  notify: sshd-restart

- name: tony bashrc and bash_profile
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/home/tony/.{{ item | split('tony-') | last }}"
    mode: "0644"
    owner: tony
  loop:
    - tony-bashrc
    - tony-bash_profile

- name: root bashrc and bash_profile
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/root/.{{ item | split('root-') | last }}"
    mode: "0644"
    owner: root
  loop:
    - root-bashrc
    - root-bash_profile
