---
- name: sshd-restart
  ansible.builtin.systemd_service:
    name: sshd
    state: restarted

- name: certbot-timer-restart
  ansible.builtin.systemd_service:
    name: certbot.timer
    state: restarted
    daemon_reload: true

- name: nginx-start
  ansible.builtin.systemd_service:
    name: nginx
    state: started
    enabled: true
    daemon_reload: true

- name: nginx-verify-config
  ansible.builtin.command: nginx -t
  changed_when: false
  failed_when: "'test failed' in nginx_test_output.stderr"
  register: nginx_test_output
  listen: nginx-reload

- name: nginx-reload-service
  ansible.builtin.systemd_service:
    name: nginx
    state: reloaded
  listen: nginx-reload

- name: portfolio-restart
  ansible.builtin.systemd_service:
    name: portfolio
    state: started
    enabled: true
    daemon_reload: true
