---
- name: sshd-restart
  ansible.builtin.systemd_service:
    name: sshd
    state: restarted

- name: nginx-start
  ansible.builtin.systemd_service:
    name: nginx
    state: started
    enabled: true

- name: nginx-reload
  ansible.builtin.systemd_service:
    name: nginx
    state: reloaded
